/*daohang*/
#nav_center{
    width: 1180px;
    margin: 0 auto;
    height: 34px;
    padding-top: 20px;
}
.breadcrumb{
     font-size: 14px;
    margin-bottom: 0;
    list-style: none;
    background-color: rgb(239,239,239);
    border-radius: 4px;
    font-family: “宋体”;
}
.breadcrumb li{
	float: left;
}
.breadcrumb li img{
	margin-left: 5px;
    margin-right: 5px;
}
.breadcrumb>.active{
	color: rgb(236,106,23);
}
/*zhengwen*/
#d_content{
	width: 1098px;
	border: 1px solid white;
	margin: 0 auto;
	padding: 40px;
	background-color: white;
}

.zhengpin{
	text-align: center;
    margin: 0 auto;
    color: rgb(38,132,199);
    font-size: 24px;
    margin-top: 22px;
    font-family: "微软雅黑";
}
.d_time{
    font-size: 14px;
    text-align: right;
    margin-top: 27px;
    margin-bottom: 60px;
    color: rgb(102,102,102);
}
.zhengwen{
    text-indent: 2em;
    margin-bottom: 30px;
    font-size: 14px;
    font-family: "宋体";
    line-height: 26px;
    color: rgb(102,102,102);
}
.zhengwen_img{
    margin-bottom: 30px;
    margin-top: 12px;
}